#projects {
  padding: 100px 0px;
}
#projects .cards {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .card {
    width: 380px;
    height: 475px;
    margin: 50px auto 0px;
    position: relative;
    background: #000;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    .img-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      img {
        width: 100%;
      }
    }
    &:hover {
      transform: translateY(-20px);
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }
    .content {
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: -100%;
      padding: 20px;
      padding-top: 60px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.5s;
      h2 {
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        font-size: 1.5em;
      }
      p {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 0.9em;
      }
    }
    &:hover .content {
      bottom: 0;
    }
  }
}
#projects .cards .card:hover .img-box {
  opacity: 0.5;
}
#projects .cards .card:nth-child(1) .content {
  background: linear-gradient(0deg, $orange1, transparent);
}
#projects .cards .card:nth-child(2) .content {
  background: linear-gradient(0deg, $orange2, transparent);
}
#projects .cards .card:nth-child(3) .content {
  background: linear-gradient(0deg, $orange3, transparent);
}
